/* Write your CSS here */

.bg-container {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80%;
}

.button {
  width: 100px;
  height: 30px;
  border-width: 0px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  outline: none;
}
.accelerate {
  background-color: brown;
  color: bisque;
}
.brake {
  background-color: yellowgreen;
  color: black;
}
